nav#page-nav.page-nav(role="navigation")

  ul.site-pages_list
    for page in pages.pages
      li 
        a(href="#{page.href}")
          svg.icon 
            use(xlink:href="#" + page.icon)
          = page.title
    
      
          
  include latest.jade
  include archives.jade
  include categories.jade

  
