nav#page-nav.page-nav(role="navigation")

  ul
    for page in pages.pages
      li #[a(href=page.href)=_s.titleize(page.title)]
          
  include latest.jade
  include archives.jade
  include categories.jade

  
