doctype html
html(lang="en")
  include partials/head.jade
  body
    //include partials/svg-symbols.svg
    include partials/header.jade
    block content
    include partials/footer.jade
    include partials/scripts.jade
