- var latestPost = posts[0]
- var latestPostDate = moment(latestPost.date)
- var latestPostYear = latestPostDate.year()
- var latestPostMonth = latestPostDate.month()

h2=latestPostDate.format('MMMM YYYY')
<ul>
for post in posts
  - var currentPostDate = moment(post.date)
  - var currentPostYear = currentPostDate.year()
  - var currentPostMonth = currentPostDate.month()

  if (currentPostMonth < latestPostMonth || currentPostYear < latestPostYear)
    - currentPostMonth = latestPostMonth
    - currentPostYear = latestPostYear
    </ul>
  
    h2=currentPostDate.format("MMMM YYYY")
    <ul>
  li #[a(href='/' + post.path)=moment(post.date).format("MMMM DD") + ": " + _s.titleize(post.title)]
</ul>
