h2 Categories

ul.site-categories
  for category in categories.categories
    li 
      a(href="#{category.href}")
        span
          svg.icon 
            use(xlink:href="#" + category.icon)
          = category.title
