section.categories
  
  h3(role="button") Categories
    svg.list-toggle
      use(xlink:href="#add13")

  ul.category-links
    for category in categories.categories
      li 
        a(href="#{category.href}")
          span
            svg.icon
              use(xlink:href="#" + category.icon)
            = category.title
