h2 Latest Posts
- var posts = collections.posts
- var i = 0
- var postIndex = posts.length
if postIndex > 5
  - postIndex = 5  
ul
  while i < postIndex
    li #[a(href='/' + posts[i].path)=moment(posts[i].date).format('MMMM, DD YYYY') + ': ' + posts[i].title]
    - i++
