block variables
  - var pageTitle = title
  - var pageDescription = site.description
  - var pageAuthor = site.author

doctype html
html(lang="en")
  include partials/head.jade
  body
    include partials/svg-symbols.svg
    include partials/header.jade
    include partials/nav.jade
    main
      block content
        article
          header
            h2=_s.titleize(title)
          section=contents
    .container
      include partials/footer.jade
    script(src="/scripts/script.js")
