block variables
  
doctype html
html(lang="en")
  include partials/head.jade
  body
    include partials/svg-symbols.svg
    div.container
      include partials/header.jade
      main!=contents
    div.container
      include partials/footer.jade
    script(src="/scripts/script.js")
