extends default.jade

block content
  article
    header(style="background-image:url('#{backgroundImage}');")
      .text      
        h2 Meet Michael Kornblum
        p a self taught web designer / developer who loves open source software, web standards and well-crafted design.
    section
      h2 Greetings and Salutations
      p My name is Michael Kornblum, and I was born and raised in Northern New Jersey. During my adult life, I've lived in varioius 


  
