block variables
  - var pageTitle = title
  - var pageDescription = description
  - var pageAuthor = author

doctype html
html(lang="en")
  include partials/head.jade
  body
    include partials/svg-symbols.svg
    div.container
      include partials/header.jade
      main
        block content
          h2=_s.titleize(title)
          article!=contents
    div.container
      include partials/footer.jade
    script(src="/scripts/script.js")
