extends default.jade
block variables
  - var post = collections.posts[0]
  - var pageTitle = post.title
  - var pageDescription = post.description
  - var pageAuthor = post.author

block content
  article 
    header.article-header
      h2=moment(post.date).format("MMM DD, YYYY") + ": " + _s.titleize(post.title)
      if post.leadImage
        figure
          img(src!="/images/" + post.leadImage alt=post.leadImageAlt)
          figcaption #{post.description} by #[b=post.author].
    section!=post.contents


  
  
