extends default.jade
block variables
  - var pageTitle = title
  - var pageDescription = description
  - var pageAuthor = author

block content
  article 
    header.article-header
      h2=moment(date).format("MMM DD, YYYY") + ": " + _s.titleize(title)
      if leadImage
        figure
          img(src!="/images/" + leadImage alt=leadImageAlt)
          figcaption #{description} by #[b=author].
    section!=contents
