nav.main-nav(id="main-nav")
  ul
    for i in pages.pages
      li
        if i.title == title
          a.active(href=i.href)=i.title
        else
          a(href=i.href)=i.title
          
    
      
      
    
