body
  width: 100%
  margin: 0 auto

h1, h2, h3, h4, h5, h6
  font-family: 'Righteous', cursive

svg
  height 2.25em;
  width 2.25em;
  fill white;
  stroke white;
  margin-top .9em
  margin-right 1em
  &:hover
    stroke: orange;
    fill: orange;
