@lost gutter .5em;
@import 'typographic'
@import 'rupture'

$header-ratio = $major-third
$line-height-ratio = 1.75
$header-font = $calibri
$body-font = $calibri
$min-font = 18px
$max-font = 18px

typographic()
//grid-overlay(blue, 2)


body
  width 100%
  lost-center 100%

img
  min-width 100%
  lost-center 100%

article
  margin-bottom vr(.25)


article header
  margin-bottom vr-block(.05)




.container
  lost-utility clearfix

.page-header h1, main h2
  +above(725px)
    margin-top 16px
    padding-top 0

.page-header
  lost-column 1/4
  box-sizing border-box
  padding 0 1em
  background-color tomato
  color white
  h1, h2, h3, h4
    color white
  li, a
    color yellow
  a
    text-decoration none
    &:hover
      color white
  +below(1000px)
    lost-column 1/3
  +below(768px)
    lost-column 3/3
    margin-top 0
    padding-top 0
    h1
      margin-top .4em
      lost-column 8/10

main
  lost-column 3/4
  box-sizing border-box
  padding 0 1em
  background #eee
  +below(1000px)
    lost-column 2/3
  +below(768px)
    lost-column 3/3



.toggle
  height 1.5em
  width 2em
  display block
  padding 0
  lost-grid 2/10
  float right
  position relative
  top .95em
  background-color tomato
  border none
  border-top 3px solid white
  border-bottom 3px solid white
  +above(768px)
    display none
  &:focus
    outline none
  span
    display block
    height 3px
    background-color white
    width 100%

.page-nav
  +below(768px)
    opacity 0
    max-height 0
    overflow hidden
    line-height 2.5
    transition all 0.6s ease

    &.open
      opacity 1
      max-height 3999px

.page-footer
  lost-column 1/1
  background-color tomato
  color white
  text-align right
  display block
  margin-top vr-block(.25)
  height vr-block(1.5)
  padding 0 1em
  box-sizing border-box
  small
    display block
    margin-top vr-block(.9)

  #disqus_thread
    font-size 1.25em

svg.icon
  height vr-block(.75)
  width vr-block(.75)
  fill yellow
  stroke yellow
  display inline-block
  margin-right 8px
  position relative
  top vr-block(.0625)

.site-pages_list
  list-style-type none
  padding 0
