@lost gutter 3em
@import 'typographic'
@import 'rupture'

@require 'header'
@require 'nav'

$header-ratio = $major-second
$line-height-ratio = 1.6
$min-font = 18px
$max-font = 20px

typographic()
@require 'base'
@require 'header'
@require 'nav'

article
  font-size 1.25
  header
    margin-top 0
    padding top
    height 100vh
    width 100vw
    background-position center center
    background-size cover
    background-repeat no-repeat
    margin-top -3.25em
    margin-bottom vr-block(4)
    padding 0
    .text
      h2
        font-size 2em
        color white
        line-height 1.2
      color white
      width 75%
      margin 0 auto
      position relative
      text-align center
      top 25%
      tranform translateY(-25%)
      p
        font-size: 1.25em
        line-height 1.6
  section
    font-size 1em
    margin 0 auto
    padding 0
    position relative
    top -4em
    width 95%
    max-width 900px
    h2
      font-size 1.5em
      line-height 1.25em
